In [93]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [94]:
xlsfile = pd.ExcelFile('Ideal_DCA.xlsx')

In [95]:
dframe = xlsfile.parse('Sheet1')

In [96]:
dframe

    Date   Open  Close
0      1  10.00  10.12
1      2   9.64   9.54
2      3   9.32   9.42
3      4   9.45   9.31
4      5   8.14   8.54
5      6   8.53   8.32
6      7   8.94   9.12
7      8   9.14   9.01
8      9   8.00   8.42
9     10   7.86   7.91
10    11   7.54   7.41
11    12   7.77   7.61
12    13   8.43   8.12
13    14   9.13   8.73
14    15   9.29   9.03
15    16   9.52   9.32
16    17   9.95   9.84
17    18  10.13  10.01
18    19  10.61  10.35
19    20  10.85  10.49
20    21  10.50  10.74
21    22  11.00  11.01
22    23  10.42  11.21
23    24  10.23  10.03

In [110]:
SAN = pd.read_csv('SAN.csv')

In [111]:
SAN

          Date  Open  High   Low  Close  Adj Close     Volume
0   2017-01-01  5.27  5.72  5.25   5.56   5.054749   80037000
1   2017-02-01  5.58  5.74  5.25   5.41   4.971869   97640600
2   2017-03-01  5.54  6.23  5.45   6.07   5.578420  138412500
3   2017-04-01  6.05  6.63  5.74   6.52   5.991976  197454900
4   2017-05-01  6.55  6.99  6.31   6.54   6.064322  156759800
5   2017-06-01  6.47  6.93  6.34   6.69   6.203412  207583400
6   2017-07-01  6.79  6.88  6.50   6.82   6.323956  115501300
7   2017-08-01  6.85  6.91  6.38   6.51   6.036504  104795500
8   2017-09-01  6.52  6.94  6.29   6.94   6.501423   95111300
9   2017-10-01  6.71  6.85  6.45   6.74   6.314061  142269300
10  2017-11-01  6.75  6.78  6.37   6.50   6.132883  105847700
11  2017-12-01  6.66  6.76  6.41   6.54   6.170623   74156800
12  2018-01-01  6.55  7.57  6.48   7.41   6.991486   99095900
13  2018-02-01  7.36  7.42  6.51   6.87   6.545352  201567600
14  2018-03-01  6.85  6.89  6.33   6.55   6.240474  161707100
15  2018-04-01  6.55  6.82  6.35   6.52   6.211891  115445400
16  2018-05-01  6.51  6.62  5.25   5.46   5.201982  148077500
17  2018-06-01  5.57  5.74  5.26   5.34   5.146065  169433500
18  2018-07-01  5.30  5.66  5.27   5.59   5.386986  209349900
19  2018-08-01  5.57  5.58  4.88   4.99   4.874457  151727800
20  2018-09-01  4.92  5.43  4.82   5.00   4.884226  118988800
21  2018-10-01  5.03  5.09  4.50   4.78   4.669321  215514100
22  2018-11-01  4.84  4.99  4.63   4.76   4.688282  172193600
23  2018-12-01  4.86  4.88  4.21   4.48   4.412500  192150400

In [121]:
dframe = dframe.drop(["Date"], axis = 1)

KeyError: "['Date'] not found in axis"

In [113]:
SAN = SAN.drop(["Date","High","Low","Adj Close","Volume"], axis = 1)

In [114]:
dframe

     Open  Close
0   10.00  10.12
1    9.64   9.54
2    9.32   9.42
3    9.45   9.31
4    8.14   8.54
5    8.53   8.32
6    8.94   9.12
7    9.14   9.01
8    8.00   8.42
9    7.86   7.91
10   7.54   7.41
11   7.77   7.61
12   8.43   8.12
13   9.13   8.73
14   9.29   9.03
15   9.52   9.32
16   9.95   9.84
17  10.13  10.01
18  10.61  10.35
19  10.85  10.49
20  10.50  10.74
21  11.00  11.01
22  10.42  11.21
23  10.23  10.03

In [115]:
from sklearn.metrics.pairwise import cosine_similarity

In [116]:
SAN

    Open  Close
0   5.27   5.56
1   5.58   5.41
2   5.54   6.07
3   6.05   6.52
4   6.55   6.54
5   6.47   6.69
6   6.79   6.82
7   6.85   6.51
8   6.52   6.94
9   6.71   6.74
10  6.75   6.50
11  6.66   6.54
12  6.55   7.41
13  7.36   6.87
14  6.85   6.55
15  6.55   6.52
16  6.51   5.46
17  5.57   5.34
18  5.30   5.59
19  5.57   4.99
20  4.92   5.00
21  5.03   4.78
22  4.84   4.76
23  4.86   4.48

In [117]:
baseline = dframe.values

In [118]:
SANarray = SAN.values

In [119]:
print(SANarray)

[[5.27 5.56]
 [5.58 5.41]
 [5.54 6.07]
 [6.05 6.52]
 [6.55 6.54]
 [6.47 6.69]
 [6.79 6.82]
 [6.85 6.51]
 [6.52 6.94]
 [6.71 6.74]
 [6.75 6.5 ]
 [6.66 6.54]
 [6.55 7.41]
 [7.36 6.87]
 [6.85 6.55]
 [6.55 6.52]
 [6.51 5.46]
 [5.57 5.34]
 [5.3  5.59]
 [5.57 4.99]
 [4.92 5.  ]
 [5.03 4.78]
 [4.84 4.76]
 [4.86 4.48]]

In [120]:
stock_similarity = cosine_similarity(baseline, SANarray)

In [124]:
print(stock_similarity)

[[0.99978354 0.99977035 0.99921386 0.99950678 0.99997737 0.9999422
  0.99999293 0.99950682 0.99968176 0.99999303 0.99969176 0.99988668
  0.99845679 0.99918464 0.99959821 0.99996589 0.99563584 0.99963437
  0.9997866  0.99815023 0.99999779 0.99950571 0.9998978  0.99891316]
 [0.99948853 0.99994743 0.99870831 0.99909331 0.9999901  0.99975956
  0.99997249 0.99979538 0.99933733 0.99997229 0.99990681 0.99999248
  0.99777368 0.99957351 0.99985259 0.99999574 0.99661678 0.99987416
  0.99949323 0.99876742 0.99991185 0.99979467 0.99999513 0.99937175]
 [0.99977028 0.99978361 0.99918877 0.99948686 0.99998139 0.99993525
  0.9999951  0.99952634 0.99966572 0.99999518 0.99970715 0.99989594
  0.99842172 0.9992098  0.99961581 0.99997088 0.99569425 0.99965116
  0.99977343 0.99818821 0.99999628 0.99952526 0.99990658 0.99894224]
 [0.99941409 0.99996796 0.99859153 0.99899505 0.99997756 0.99970772
  0.99995328 0.99983835 0.99925295 0.99995302 0.99993498 0.99999867
  0.99762118 0.99963665 0.99988867 0.99998665 0.99679909 0.9999073
  0.99941912 0.99887652 0.99987946 0.99983771 0.99999962 0.99944892]
 [0.99999609 0.9992222  0.99976581 0.99991026 0.99969398 0.99997364
  0.999763   0.99877909 0.99997396 0.99976357 0.99908243 0.99945334
  0.99929506 0.99829538 0.99892554 0.99965492 0.99379348 0.99898521
  0.9999965  0.99689332 0.99987341 0.99877736 0.9994781  0.99791163]
 [0.99923047 0.99999548 0.99831378 0.99875847 0.99993158 0.99957435
  0.99989245 0.99991574 0.99904724 0.99989206 0.9999795  0.99999432
  0.99726406 0.99975892 0.99995078 0.99994832 0.99718634 0.99996288
  0.99923624 0.99910096 0.99978934 0.99991529 0.99999148 0.99960239]
 [0.99985881 0.99967658 0.99936453 0.99962446 0.99994243 0.99997722
  0.99996987 0.99937313 0.99977472 0.99997008 0.99958438 0.99981842
  0.99867106 0.99901505 0.99947676 0.99992483 0.99525436 0.99951815
  0.99986127 0.99789891 0.99999819 0.99937189 0.99983257 0.99871861]
 [0.99942431 0.99996551 0.9986074  0.99900845 0.99997953 0.99971493
  0.99995613 0.9998329  0.9992645  0.99995589 0.99993152 0.99999814
  0.99764182 0.99962852 0.99988415 0.99998816 0.99677505 0.99990317
  0.99942931 0.99886225 0.99988408 0.99983226 0.99999931 0.99943891]
 [0.99999928 0.99915796 0.99979909 0.99993038 0.9996532  0.99996078
  0.99972696 0.99869894 0.99998421 0.99972758 0.99901276 0.99939928
  0.99935373 0.99820092 0.99885027 0.9996117  0.99361458 0.99891202
  0.99999945 0.99676628 0.99984673 0.99869715 0.99942524 0.99780721]
 [0.99972152 0.99982632 0.99909922 0.99941515 0.99999226 0.99990827
  0.99999953 0.99959064 0.99960738 0.99999956 0.99975721 0.99992483
  0.99829776 0.99929353 0.99967349 0.99998506 0.99589266 0.99970601
  0.99972499 0.99831617 0.99998803 0.99958964 0.99993383 0.99903947]
 [0.99937113 0.99997707 0.99852535 0.99893903 0.99996855 0.99967715
  0.9999406  0.99985975 0.99920454 0.99994031 0.99994828 0.99999992
  0.99753543 0.99966912 0.99990631 0.99997952 0.99689689 0.99992333
  0.99937635 0.99893419 0.99985956 0.99985916 0.99999993 0.99948909]
 [0.99930913 0.99998717 0.99843121 0.99885895 0.99995355 0.99963232
  0.99992053 0.99988689 0.999135   0.9999202  0.99996419 0.99999914
  0.99741418 0.99971158 0.99992822 0.99996714 0.99702984 0.99994302
  0.9993146  0.99901153 0.99982949 0.99988636 0.99999786 0.9995422 ]
 [0.99896505 0.99999468 0.99793041 0.99842669 0.99983863 0.9993719
  0.99978091 0.99997746 0.99875414 0.99978036 0.99999999 0.99995355
  0.99678123 0.99987689 0.99999332 0.99986497 0.99763652 0.99999724
  0.99897175 0.99934701 0.99964108 0.99997722 0.99994596 0.99975946]
 [0.99879171 0.99997602 0.99768812 0.99821455 0.99976611 0.99923536
  0.99969751 0.99999535 0.99856461 0.99969687 0.99999378 0.99991153
  0.99648082 0.99992766 1.         0.99979806 0.99788157 0.99999914
  0.99879894 0.99947269 0.99953622 0.99999524 0.99990117 0.99983311]
 [0.99916116 0.99999919 0.99821193 0.99867085 0.99990986 0.99952242
  0.9998656  0.99993669 0.99897029 0.99986517 0.99998907 0.99998699
  0.99713476 0.99979539 0.99996644 0.99992925 0.99731445 0.99997628
  0.99916719 0.99917277 0.99975236 0.9999363  0.99998284 0.99964965]
 [0.99930121 0.99998823 0.99841929 0.99884877 0.99995148 0.99962653
  0.99991783 0.99989006 0.99912614 0.99991749 0.99996597 0.99999884
  0.99739888 0.99971667 0.99993075 0.99996539 0.99704619 0.99994526
  0.99930671 0.99902096 0.99982554 0.99988954 0.9999974  0.99954861]
 [0.99947745 0.99995091 0.99869075 0.99907858 0.99998851 0.99975194
  0.99996987 0.99980229 0.99932473 0.99996967 0.99991146 0.99999376
  0.99775064 0.99958351 0.99985845 0.99999468 0.99664504 0.99987956
  0.99948221 0.99878447 0.99990721 0.9998016  0.99999615 0.9993839 ]
 [0.99946444 0.99995479 0.99867021 0.99906134 0.99998651 0.99974296
  0.99996669 0.99981017 0.99930996 0.99996647 0.9999167  0.99999509
  0.99772375 0.99959497 0.99986509 0.99999329 0.99667769 0.99988569
  0.99946926 0.9988041  0.99990169 0.99980948 0.99999718 0.99939786]
 [0.99923276 0.99999531 0.99831716 0.99876137 0.99993226 0.99957605
  0.9998933  0.99991498 0.99904978 0.99989292 0.99997912 0.99999451
  0.99726836 0.99975764 0.9999502  0.99994891 0.99718197 0.99996238
  0.99923852 0.99909849 0.99979053 0.99991453 0.99999171 0.99960075]
 [0.99904796 0.99999902 0.99804834 0.9985293  0.99987033 0.99943611
  0.99981813 0.99996323 0.99884526 0.99981763 0.999998   0.99996976
  0.99692869 0.99984596 0.99998479 0.99989382 0.99750694 0.99999114
  0.99905438 0.99927805 0.9996892  0.99996293 0.99996358 0.99971692]
 [0.99988031 0.9996418  0.99941114 0.99966009 0.99992724 0.99998533
  0.99995864 0.99932507 0.99980211 0.99995888 0.99954508 0.99979214
  0.99873885 0.99895504 0.99943277 0.9999076  0.99512381 0.9994759
  0.99988258 0.99781169 0.99999477 0.99932378 0.9998073  0.99865029]
 [0.99965373 0.99987325 0.99898027 0.99931858 0.99999926 0.99986779
  0.99999847 0.99966467 0.99952759 0.99999842 0.99981337 0.99995445
  0.99813566 0.99939193 0.99973921 0.99999622 0.99613492 0.99976818
  0.9996576  0.99847005 0.99997104 0.99966376 0.99996139 0.99915481]
 [0.99995261 0.99864963 0.99995849 0.99999962 0.99930551 0.99980416
  0.99941171 0.99808167 0.99998588 0.99941261 0.99846732 0.9989606
  0.99968702 0.99748568 0.9982664  0.99924728 0.99232154 0.99834241
  0.99995116 0.9958281  0.99959553 0.9980795  0.99899484 0.99702388]
 [0.99932874 0.99998434 0.99846083 0.99888418 0.99995853 0.99964658
  0.99992709 0.99987875 0.99915696 0.99992677 0.99995955 0.9999997
  0.99745223 0.99969868 0.99992171 0.9999713  0.99698877 0.9999372
  0.99933413 0.99898777 0.99983916 0.99987821 0.99999882 0.99952598]]